<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>specific url navigation</title>
    <style>
        body
        {
            background-color: rgb(154, 76, 228);
            background-repeat: no-repeat;
            text-align: center;
            text-shadow: 5px white;

        }
    </style>
</head>
<body>
    <h1 style="color: blanchedalmond;">this is specific url navigation</h1>
    <h3><a href="{% url 'r1' %}">click here to go generic h1 page</a></h3>
    <h3><a href="{% url 'r2' %}">click here to go generic h2 page</a></h3>
</body>
</html>